* {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
#section1 {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #fff;
  padding: 80px;
}
#section1 h1 {
  font-size: 3rem;
}
#section1 p {
  font-size: 1.5rem;
}
@media screen {
  
}